.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    width: 300px; /* Adjust the width as needed */
  }
  
  .form-container-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container-label {
    margin-bottom: 10px;
  }
  
  .form-container input,
  .form-container-textarea {
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
  }
  
  .form-container-button {
    background-color: #007bff; /* Change background color of submit button */
    color: #fff; /* Change text color of submit button */
    padding: 10px 20px; /* Add padding to submit button */
    margin-left: 10px;
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius to submit button */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .form-container-button:hover {
    background-color: #0056b3;
  }
  