.home-container {
     padding-top: 30px;
    background-image: url('../../../public/SJSU_home_background.jpg');
    /* height: 851px; */
    height: 93.4vh;
    width: 100%;
    background-size: cover; /* Adjusts the image size to cover the entire container */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat;

  }

.home-title{
  max-width: 650px; /* Adjust the maximum width of the home title container */
  margin: 0 auto; /* Center the survey container horizontally */
  color: black;
  border-radius: 15px;
  background: #E5A823;
  border: 2px solid black;
  padding: 7px 10px 7px 10px;
  font-family: 'Courier New', Courier, monospace;
}

.home-container .home-title {
  opacity: 0;
  transition: 0.2s 180s;
}

.home-container:hover .home-title {
  opacity: 1;
  transition: 0.2s;
}
